src/main/app/workingwithems.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <jms:connector name="JMS" username="mule" password="mule" validateConnections="true" jndiInitialFactory="com.tibco.tibjms.naming.TibjmsInitialContextFactory" jndiProviderUrl="tcp://localhost:7222" connectionFactoryJndiName="QueueConnectionFactory" doc:name="JMS"/>
    <http:listener-config name="HTTP_Listener_Configuration1" host="0.0.0.0" port="8091" doc:name="HTTP Listener Configuration"/>
    <flow name="workingwithemsFlow">
        <jms:inbound-endpoint queue="mule.test" connector-ref="JMS" doc:name="JMS"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="workingwithemsFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/jms" allowedMethods="GET" doc:name="HTTP"/>
        <set-payload value="TestingwithJMS" doc:name="Set Payload"/>
        <jms:outbound-endpoint queue="mule.test" connector-ref="JMS" doc:name="JMS"/>
    </flow>
</mule>
